<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Busfactor{% end block %}</title>
<!--        <script src="http://127.0.0.1:9001/js/socket.js"></script>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='primer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='octicons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
        {% end block %}
    </head>
    <body class="container">
        <header class="columns bf-header">
            {% block header %}
            <div class="column one-half">
                <a id="logo" href="/"><i class="mega-octicon octicon-mark-github"></i></a>
            <form>
                <input class="input-block" type="text" placeholder="Search... {% block placeholder %}{% end block %}">
            </form>
            </div>
            <div class="column one-half">
                <nav>
                    <a href="#"><i class="octicon octicon-globe"></i> Lorem</a>
                    <a href="#"><i class="octicon octicon-mortar-board"></i> Ipsum</a>
                </nav>
                <nav class="right">
                    <a href="#" class="tooltipped tooltipped-w" aria-label="Want to buy us a beer?"><i class="octicon octicon-beer"></i></a>
                    <a href="#" class="tooltipped tooltipped-sw" aria-label="Calculate Your Bus Factor!"><i class="octicon octicon-plus"></i></a>
                </nav>
            </div>
            {% end block %}
        </header>
        <main>
            {% block content %}
            {% end block %}
        </main>
        <footer class="columns">
            {% block footer %}
            <div class="column one-third">&copy; 2015 Web Four Point Oh
                <!--&emsp;<a href="#">Terms</a>
                &emsp;<a href="#">Privacy</a>
                &emsp;<a href="#">Security</a>-->
                &emsp;<a href="#">All</a>
                &emsp;<a href="#">Your</a>
                &emsp;<a href="#">Base</a>
            </div>
            <div class="column one-third center">
                <h1 style="color: #ccc; margin-top: -10px;"><i class="icon-mark-github"></i></h1>
            </div>
            <div class="column one-third right">
                <!--<a href="#">Status</a>
                &emsp;<a href="#">API</a>
                &emsp;<a href="#">Training</a>
                &emsp;<a href="#">Shop</a>
                &emsp;<a href="#">Blog</a>-->
                &emsp;<a href="#">Are</a>
                &emsp;<a href="#">Belong</a>
                &emsp;<a href="#">To</a>
                &emsp;<a href="#">Us</a>
            </div>
            {% end block %}
        </footer>
        <script src="{{ url_for('static', filename='js/script.js) }}">
    </body>
</html>
