{% extends 'base.html' %}
{% block content %}
<!-- thank you wonderful tso -->
                <div class="column two-thirds" style="background: #fff">
                    <h1>Github Repos with Highest Bus Factor</h1>
                    <h3 style="font-weight: normal">&ldquo;if you were to get hit by a bus tomorrow...&rdquo;</h3>
            <hr>
            {% for project in projects %}
            <article>
                <header>
                    <i class="octicon octicon-repo"></i> 
                    <a href="#">{{ project.owner }}</a> / <a href="#">{{ project.name }}</a>
                    <span class="state state-closed right tooltipped tooltipped-w" 
                          aria-label="High Bus Factor!">{{ project.factor }}</span>
                </header>
                <section>
                    <span class="bf-contributors tooltipped tooltipped-s" aria-label="{{ project.contributors_num }} Contributors">
                        <i class="mega-octicon octicon-organization"></i> {{ project.contributors_num }} Contributors
                    </span>
                    <div class="bf-graph" data-repo="gogs">
                        {% for contributor in project.contributors %}
                        <!-- scale color, reuse that one I made -->
                        <span style="background-color: {{ '#11ff33' }}; width: {{ contributor.percentage }}%" class="tooltipped tooltipped-n" aria-label="{{ contributor.login }} - {{ contributor.percentage }}%">&nbsp;</span>
                        {% endfor %}
                    </div>
                    <!-- make one of these for each contributor -->
                    <div class="bf-info gone">
                        <img class="avatar avatar-small left" src="https://avatars3.githubusercontent.com/u/9919?v=3&s=32" width="32" height="32">
                        <h2 id="gogs">some shitty example don't worry about it</h2>
                        <ul>
                            <li>51 commits</li>
                            <li>Longest streak: 69 days</li>
                            <li>other stuff about this person</li>
                            <li>idk</li>
                        </ul>
                        <button>Close this shit</button>
                    </div>
                </section> 
            </article>
            {% endfor %}
            </div>
</div>
            <hr>
            <div class="btn-group" style="display: block; margin: 20px auto; width: 20%" >
                <!-- next pages -->
                  <button class="btn" type="button">1</button>
                  <button class="btn btn-outline" type="button">2</button>
                  <button class="btn" type="button">3</button>
                  <button class="btn" type="button">4</button>
                  <button class="btn" type="button">5</button>
            </div>
</div>
{% endblock %}
